<header class="bgimg">
	<h1>Зв'язок</h1>
</header>
<section class="content">
	<p>У разі винекнення питання - напишіть нам</p>
	<div class="contact">
		<form name="users">
			<label for="fname">Ім'я</label>
			<input type="text" id="fname" name="firstname" placeholder="Ваше ім'я.."
				required>

			<label for="lname">Прізвище</label>
			<input type="text" id="lname" name="lastname" placeholder="Ваше прізвище.."
				required>

			<label for="email">Email</label>
			<input type="email" id="email" name="email" placeholder="Ваш email.."
				required>

			<textarea name="message" id="message" cols="30" rows="10" placeholder="Опис
				проблеми/питання" required></textarea>

			<input id="button" type="submit" value="Відправити">
		</form>
	</div>

</section>