<header class="bgimg">
    <h1>Graasp</h1>
</header>
<section class="content">
    <p> ILS об'єднує лабораторії, додатки та інші ресурси (зображення,
        відео, статті тощо) для створення онлайн-уроку за технологією
        дослідно-пізнавального навчання, щоб поділитися з учнями. Для того, щоб
        створити ILS і зібрати різні ресурси, вчителі можуть використовувати
        середовище <a href="https://graasp.eu/" target="_blank" rel="noopener
            noreferrer">Graasp</a>, яке є складовою екосистеми
        Go-Lab.</p>

</section>
<a href="https://graasp.eu/" target="_blank" rel="noopener noreferrer">
    <section class="playback">

        <iframe src="https://graasp.eu/" class="playback-iframe">graasp</iframe>
    </section></a>
