<header class="bgimg">
    <h1>Симуляції</h1>
</header>

<section class="content">
    <p>Джерелом частини віртуальних лабораторій, представлених на порталі
        Go-Lab, є портал <a href="https://phet.colorado.edu/" target="_blank"
            rel="noopener noreferrer">Phet.Colorado</a>. PhET
        заснована на обширних дослідженнях в сфері освіти і залучає учнів та
        студентів в інтуїтивно зрозуміле ігрове середовище, в якому вони
        навчаються через дослідження і відкриття. </p>
    <p>Пошук віртуальних лабораторій на порталі може відбуватися:</p>
    <ul>
        <li>за новими симуляторами, що розроблені на HTML5,</li>
        <li>за навчальним предметом,</li>
        <li>за рівнем освіти:
            <ul><li>початкова школа</li>
                <li>середня школа</li>
                <li>старша школа</li>
                <li>вища освіта</li>
            </ul>
        </li>
        <li> за пристроями, які підтримують використання лабораторії, </li>
        <li>за наявними перекладами інтерфейсу</li>
    </ul>

    <p>Віртуальні лабораторії написані на Java, Flash або HTML5 і можуть бути
        запущені в режимі онлайн безпосередньо у браузері або завантажені на
        комп'ютер. Всі симуляції мають відкритий вихідний код.
        Екосистемою Go-Lab підтримуються лише лабораторії, розроблені на HTML5.
    </p>
</section>
<section>
    <h2 class="content">Віртуальні лабораторії</h2>
    <div class="playback">
        <iframe
            src="https://phet.colorado.edu/sims/html/vector-addition/latest/vector-addition_uk.html"
            class="playback-iframe" scrolling="no" allowfullscreen>vector</iframe>
    </div>
    <div class="playback"> 
        <iframe
            src="https://phet.colorado.edu/sims/html/graphing-quadratics/latest/graphing-quadratics_uk.html"
            class="playback-iframe" scrolling="no" allowfullscreen>graphing</iframe>
    </div>

</section>