<header class="bgimg">
    <h1>Додатки</h1>
</header>
<section class="container-apps">
    <div class="box">
        <a href="#moduleInputBox">
            <img src="./img/inputBox.png" alt="inputBox">
            <h3>Input Box</h3>
        </a>
    </div>
    <div class="box">
        <a href="#moduleQuiz">
            <img src="./img/quiz.png" alt="quiz">
            <h3>Quiz</h3>
        </a>
    </div>
    <div class="box">
        <a href="#moduleFileDrop">
            <img src="./img/fileDrop.png" alt="fileDrop">
            <h3>File Drop</h3>
        </a>
    </div>
    <div class="box">
        <a href="#moduleQuest">
            <img src="./img/quest.png" alt="quest">
            <h3>Quest</h3>
        </a>
    </div>
    <div class="box">
        <a href="#moduleViewer">
            <img src="./img/viewer.png" alt="viewer">
            <h3>Viewer</h3>
        </a>
    </div>
    <div class="box">
        <a href="#moduleScratch">
            <img src="./img/scratch.png" alt="scratch">
            <h3>Scratch</h3>
        </a>
    </div>
    <div class="box">
        <a href="#moduleCalculator">
            <img src="./img/calculator.png" alt="calculator">
            <h3>Calculator</h3>
        </a>
    </div>
    <div class="box">
        <a href="#moduleTeacherFeedback">
            <img src="./img/teacherFeedback.png" alt="teacherFeedback">
            <h3>Teacher Feedback</h3>
        </a>
    </div>
    <div class="box">
        <a href="#moduleTableTool">
            <img src="./img/tableTool.png" alt="tableTool">
            <h3>Table Tool</h3>
        </a>
    </div>

    <!-- 1 row -->
    <div id="moduleInputBox" class="module">
        <div class="description">
            <h2>Input Box</h2>
            <hr>
            <div class="about">
                <div>
                    <img src="./img/inputBox.png" alt="inputBox">
                </div>
                <div>
                    <p>Простий додаток, в якому учень може робити нотатки. У
                        Graasp
                        він
                        може показати огляд того, що всі учні зробили вчителю.
                    </p>
                    <p>Цю програму також можна налаштувати для спільної роботи.
                        Щоб
                        включити, додайте «Інструмент спільної роботи».</p>
                </div>
            </div>
            <a href="#" class="close"> &#10006;</a>
        </div>
    </div>
    <div id="moduleQuiz" class="module">
        <div class="description">
            <h2>Quiz</h2>
            <hr>
            <div class="about">
                <div>
                    <img src="./img/quiz.png" alt="quiz">
                </div>
                <div>
                    <p>Викладачі можуть створювати вікторини, що містять кілька
                        варіантів, кілька варіантів, відкриту відповідь,
                        повзунок для числових значень, табличні та двосторонні
                        (так / ні) запитання. Питання, можливі відповіді та
                        відгуки студенту можна редагувати інтерактивно в
                        конфігурації.

                    </p>
                </div>
            </div>
            <a href="#" class="close"> &#10006;</a>
        </div>
    </div>
    <div id="moduleFileDrop" class="module">
        <div class="description">
            <h2>File Drop</h2>
            <hr>
            <div class="about">
                <div>
                    <img src="./img/fileDrop.png" alt="fileDrop">
                </div>
                <div>
                    <p>Ця програма дозволяє учням завантажувати файли,
                        наприклад, завдання та звіти, у навчальний простір
                        "Запит". Додаток також дозволяє викладачам завантажувати
                        завантажені файли.
                    </p>
                </div>
            </div>
            <a href="#" class="close"> &#10006;</a>
        </div>
    </div>

    <!-- 2 row -->
    <div id="moduleQuest" class="module">
        <div class="description">
            <h2>Quest</h2>
            <hr>
            <div class="about">
                <div>
                    <img src="./img/quest.png" alt="quest">
                </div>
                <div>
                    <p>Завдяки Quest вчителі можуть створювати анкети та
                        опитування. Як типи запитань можна використовувати шкали
                        Лікерта, запитання з множинним вибором або відкриті
                        відповіді. Смайли та зображення можна включати у
                        запитання, а вчитель може отримати огляд усіх поданих
                        відповідей.
                    </p>
                </div>
            </div>
            <a href="#" class="close"> &#10006;</a>
        </div>
    </div>

    <div id="moduleViewer" class="module">
        <div class="description">
            <h2>Viewer</h2>
            <hr>
            <div class="about">
                <div>
                    <img src="./img/viewer.png" alt="viewer">
                </div>
                <div>
                    <p>Засіб перегляду відображає вміст іншої програми в ILS. Це
                        заважає учню переходити вперед і назад між різними
                        фазами, щоб отримати попередні результати.
                    </p>
                    <p>Переглядач може відобразити вміст картографічного
                        поняття, скретч-панель гіпотези, скретч-панель запитань,
                        переглядач даних, інструмент таблиці, інструмент
                        спостереження, назвати кадр та поле введення / введення.</p>
                </div>
            </div>
            <a href="#" class="close"> &#10006;</a>
        </div>
    </div>

    <div id="moduleScratch" class="module">
        <div class="description qqq">
            <h2>Scratch</h2>
            <hr>
            <div class="about">
                <div>
                    <img src="./img/scratch.png" alt="scratch">
                </div>
                <div>
                    <p>Візуальна мова програмування на основі блоків
                        та Інтернет-спільнота, орієнтована переважно на дітей.
                        Користувачі сайту можуть створювати онлайн-проекти за
                        допомогою блокоподібного інтерфейсу. Ви можете знайти
                        більше інформації на
                        <a href="https://scratch.mit.edu/" target="_blank"
                            rel="noopener noreferrer">scratch.mit.edu</a>
                    </p>
                    <p>Додаток Scratch дозволяє запускати існуючі програми
                        Scratch у своїх навчальних просторах.</p>
                    <p>Ви можете знайти програми <a
                            href="https://scratch.mit.edu/explore/projects/all"
                            target="_blank" rel="noopener noreferrer">Scratch</a>.
                        Вам просто
                        потрібно вставити URL-адресу бажаної програми Scratch у
                        конфігурацію.</p>
                </div>
            </div>
            <a href="#" class="close"> &#10006;</a>
        </div>
    </div>
    <!-- 3 row -->
    <div id="moduleCalculator" class="module">
        <div class="description">
            <h2>Calculator</h2>
            <hr>
            <div class="about">
                <div>
                    <img src="./img/calculator.png" alt="calculator">
                </div>
                <div>
                    <p>Звичайний калькулятор, який показує введену формулу та її
                        результат, а не лише останнє значення.
                    </p>
                    <p>В даний час він підтримує два режими, стандартний і
                        розширений. Стандартний режим спрямований на
                        початкову освіту; у ньому є лише основні операції
                        (додавання, віднімання, множення та ділення). Розширений
                        режим додає квадратний корінь, піднесення до ступеня та
                        вкладання.</p>
                </div>
            </div>
            <a href="#" class="close"> &#10006;</a>
        </div>
    </div>

    <div id="moduleTeacherFeedback" class="module">
        <div class="description">
            <h2>Teacher Feedback</h2>
            <hr>
            <div class="about">
                <div>
                    <img src="./img/teacherFeedback.png" alt="teacherFeedback">
                </div>
                <div>
                    <p>Інструмент для зворотного зв'язку.
                    </p>
                </div>
            </div>
            <a href="#" class="close"> &#10006;</a>
        </div>
    </div>

    <div id="moduleTableTool" class="module">
        <div class="description">
            <h2>Table Tool</h2>
            <hr>
            <div class="about">
                <div>
                    <img src="./img/tableTool.png" alt="tableTool">
                </div>
                <div>
                    <p>Інструмент таблиці дозволяє учням заповнювати текстові чи
                        числові дані в таблиці. Ви як вчитель визначаєте рядки
                        та стовпці таблиці, учні не можуть їх змінити.
                    </p>
                </div>
            </div>
            <a href="#" class="close"> &#10006;</a>
        </div>
    </div>
</section>
