<header class="bgimg">
    <h1>Технологія дослідно-пізнавальне навчання на основі запитів</h1>
</header>
<section class="home-about">
    <h2>Сценарії для створення дослідницьких навчальних просторів (ILSs) в середовищі Graasp</h2>

    <div class="timeline">
        <div class="container left">
            <div class="content">
                <img src="./img/basicScenario.png" alt="basicScenario">
                <div>
                    <h3>Базовий сценарій</h3>
                    <p>У базовому сценарії навчання учнів зосереджено на
                        виконанні
                        фундаментальних завдань із розслідуванням, таких як
                        визначення змінних, прогнозування, проведення
                        експериментів
                        і складання висновків на основі доказів.</p>
                </div>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <img src="./img/sixThinkingHats.png" alt="sixThinkingHats">
                <div>
                    <h3>Шість змінних капелюхів</h3>
                    <p>Широко поширена техніка в різних
                        областях, включаючи освіту.
                        Загалом, «шість змінних капелюхів» забезпечують вказівки
                        для
                        прийняття різних режимів мислення, що характеризуються
                        шістьма
                        кольоровими капелюхами. Зазвичай цей метод
                        застосовується в
                        групі. Для навчання успішно застосовується «шість
                        змінних
                        капелюхів», і було визначено кілька переваг, таких як
                        просування
                        творчості і вирішення проблем, стимулювання
                        різноманітних
                        думок
                        та емпатії і так далі..</p>
                </div>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <img src="./img/structuredControversy.png"
                    alt="structuredControversy">
                <div>
                    <h3>Структуровані суперечки</h3>
                    <p>Сценарій «Структуровані суперечки» в
                        основному орієнтований
                        на
                        надання учням навичок критичної оцінки і надання їм
                        можливості
                        брати участь у конструктивному діалозі про проблеми
                        соціально-наукової діяльності зі своїми однокласниками.
                        Передбачається, що учні можуть підготувати переконливі
                        аргументи
                        для обговорення, самостійно або спільно з членами своєї
                        команди,
                        шляхом пошуку відповідної інформації.</p>
                </div>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <img src="./img/learningByCritiquing.png"
                    alt="learningByCritiquing">
                <div>
                    <h3>Навчання за допомогою критики</h3>
                    <p>Цей сценарій використовується для
                        інформування учнів про
                        процеси,
                        пов'язані з науковими міркуваннями і звітністю, і менш
                        зосереджений на викладанні конкретної теми. Учні повинні
                        мати
                        деяке базове розуміння теми в даний момент. Якщо цього
                        не
                        відбувається, основну інформацію має бути подано на
                        етапі
                        "Орієнтація" сценарію.</p>
                </div>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <img src="./img/jigsawScenario.png" alt="jigsawScenario">
                <div>
                    <h3>Ажурна пилка</h3>
                    <p>Тип групового навчання, при якому
                        кожен учень повинен
                        співпрацювати зі своїми колегами для досягнення цілей
                        навчання.
                        Внесок кожного учня необхідний для підготовки
                        остаточного
                        результату. Сценарій «Ажурна пилка» розглядається в
                        якості
                        важливої спільної стратегії в області наукової освіти.
                        Одна
                        з
                        основних характеристик цієї перспективи полягає в тому,
                        що
                        учні
                        мають можливість вчитися один у одного, спілкуючись та
                        обмінюючись інформацією з іншими однокласниками.</p>
                </div>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <img src="./img/findTheMistake.png" alt="findTheMistake">
                <div>
                    <h3>Знайди помилку</h3>
                    <p>Процес запиту організований навколо
                        виявлення помилок інших
                        (фіктивних) учнів на певній темі. Вважається, що це є
                        ефективний
                        підхід до навчання, оскільки він дає учням чітке
                        уявлення
                        про
                        процес вивчення і допомагає вирішувати поширені помилки.
                        Виявлення помилок в роботі інших учнів здається більш
                        ефективним, ніж виявлення власних помилок, оскільки
                        власні
                        помилки часто пояснюються зовнішніми причинами.
                        Важливими
                        умовами успіху є активна робота учнів з помилками і
                        надання
                        зворотного зв'язку.</p>
                </div>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <img src="./img/the5EsScenario.png" alt="the5EsScenario">
                <div>
                    <h3>Модель 5Е</h3>
                    <p>Модель 5Е дослідницького циклу,
                        запропонована Р.Байбі,
                        наводить п'ять етапів дослідження:
                        <ul>
                            <li>залучення (Engagement),</li>
                            <li>дослідження (Exploration),</li>
                            <li>пояснення (Explanation),</li>
                            <li>розробка (Elaboration),</li>
                            <li>оцінка (Evaluation).</li>
                        </ul>
                        Модель отримала назву 5Е, тому що назви всіх п’яти
                        етапів
                        циклу
                        англійською мовою починаються з літери Е.</p>
                </div>
            </div>
        </div>
    </div>
</section>